<%= form_with url: "/flights", method: :get, html: {id: "flight_form"} do |form| %>

  <div>
    <%= form.label :departure_airport, "Departure Airport" %>
    <%= form.select :departure_airport,
                [
                  ["New York City", "NYC"],
                  ["San Fransisco", "SFR"],
                  %w[Indonesia IDN],
                  %w[Singapore SPR],
                ] %>
  </div>

  <div>
    <%= form.label :arrival_airport, "Arrival Airport" %>
    <%= form.select :arrival_airport,
                [
                  ["New York City", "NYC"],
                  ["San Fransisco", "SFR"],
                  %w[Indonesia IDN],
                  %w[Singapore SPR],
                ] %>
  </div>

  <div>
    <%= form.label :number_of_passengers, "Number of Passengers" %>
    <%= form.select :number_of_passengers, [1, 2, 3, 4] %>
  </div>

  <div>
    <%= form.label :date, "Date" %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit "Search Flight" %>

<% end %>
