<h1>Flights#index</h1>

<%= link_to "New flight", new_flight_path %>

<hr>

<%= render "flights/partials/searchform" %>

<h1>Flights list</h1>
<%= form_with url: bookings_path, method: :post do |form| %>
  <% if @flights_filtered.any? %>
    <% @flights_filtered.each do |flight| %>
      <div>
        <h2><%= flight.name %></h2>
        <p><%= flight.date %></p>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label "flight_id_#{flight.id}", "Select this flight" %>
      </div>
    <% end %>
    <%= form.submit "Book Selected Flight" %>
  <% else %>
    <p>No flights found!</p>
  <% end %>
<% end %>
